* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}

#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar {
	background-image: linear-gradient(to right, #a517ba, #5f1582);
	padding: 0 !important;
}
.navbar-brand img {
	height: 50px;
	padding-left: 20px;
}
.navbar-nav a {
	color: #fff !important;
	font-weight: 600px;
	float: right;
	text-align: left;
}

.fa-bars {
	color: #fff !important;
	font-size: 30px;
}
.navbar-toggler {
	outline: none;
}
/*------------------banner section--------------------*/
#banner {
	background-image: linear-gradient(to right, #a517ba, #5f1582);
	color: #fff;
	padding-top: 5%;
}
.promo-title {
	font-size: 35px;
	font-weight: bold;
	margin-top: 90px;
}
.play-btn {
	width: 45px;
	margin: 20px;
}
#banner a {
	color: #fff;
	text-decoration: none;
}
.img-fluid img {
	height: 100%;
	width: 100%;
	z-index: -10px;
	margin-top: 100px;
}
.img-bottom {
	height: 60px;
}
/*--------------------services section-----------------*/
#services {
	padding: 80px 0px;
	color: #5f1582;
}
.img-services {
	width: 100%;
	height: 200px;
	margin-top: 20px;
}
#services div h4 {
	text-transform: uppercase;
}
.title::before {
	content: '';
	background: #7b1798;
	margin:0 auto;
	height: 5px;
	width: 150px;
	display: block;
	transform: translateY(65px);
}
.title::after {
	content: '';
	background: #7b1798;
	margin:0 auto;
	height: 10px;
	width: 45px;
	display: block;
	transform: translateY(10px);
}
.title {
	color: #5f1582;
}
.btn-primary {
	background-image: linear-gradient(to right, #a517ba, #5f1582);
	box-shadow: none;
	border: none;
	border-radius: 20px;
	padding: 8px 25px;
	border: 1px solid #5f1582;
}
.btn-primary:hover {
	background-image: linear-gradient(to right, #eee, #fff);
	color: #5f1582;
	border: 1px solid #5f1582;
}
/*-----------about us-------------*/
#about-us {
	background: #f8f9fa;
}
.about-title {
	font-size: 40px;
	font-weight: 600px;
	margin-top: 8%;
}
#about-us ul {
	margin-left: 20px;
}
#about-us ul li {
	margin: 10px 0;
}
#about-us img {
	height: 300px;
	width: 100%;
}
/*-----------Testimonials-----------*/
#testimonials {
	margin: 100px 0;
}
.testimonials {
	border-left: 2px solid #7b1798;
	margin-top: 55px;
	margin-bottom: 35px;
}
.testimonials img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin: 0 10px;
}
.user-setaiils {
	display: inline-block;
	font-size: 12px;
}
/*-----------------Social media-------------------*/
#social-media{
	background: #f8f9fa;
	padding: 50px 0;
}
#social-media p {
	margin-bottom: 15px;
	font-size: 36px;
	font-weight: 600px;
	color: #5f1582;
}
.social-icon i {
	font-size: 32px;
	width: 60px;
	height: 60px;
	transform: 0.5s;
	padding: 15px;
	margin: 5px;
	border-radius: 100%;
}
.social-icon a:hover i {
	transform: translateY(-10px);
}
/*---------------footer section------------------*/
#footer {
	background-image: linear-gradient(to right, #a517ba, #5f1582);
	color: #fff;
}
.footer-img {
	height: 50px;
}
.footer-box {
	padding: 20px;
}
.footer-box img {
	width: 200px;
	margin-bottom: 10px;
}
.footer-box .fa {
	margin-right: 8px;
	height: 45px;
	width: 45px;
	font-size: 25px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #a517ba, #5f1582);
}
.footer-box .form-control {
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 300px;
	margin-bottom: 15px;
}
.footer-box .btn-default {
	background-image: linear-gradient(to right, #a517ba, #5f1582);
	border-radius: 2px;
	color: #fff;
}
hr {
	background-color: #fff;
}
.copyright {
	margin-bottom: 0;
	padding-bottom: 15px;
	text-align: left;
	margin-left: 25px;
	height: 30px;
}
.copyright a {
	text-decoration: none;
	color: #fff;

}